/* App.css */
.App {
  display: flex;
  height: 100vh;

}

.sidebar {
  height: 100vh;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;


}

.navbar {
  position: fixed;
  top: 0;
  left: 250px; 
  width: calc(100% - 250px);
  z-index: 1000; 
}

.content {
  margin-top: 60px;
  flex-grow: 1;
  padding: 20px;
  

}
