@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.Login-Page{
   margin-top: -90px;
    width: 100%;
    height: 100%;
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    
}
.Login-image-side{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}
.Login-Image{
    display: flex;
    /* filter: blur(1px); */
    /* filter: brightness(90%); */
   width: 65vw;
   height: 100vh;
   object-fit: cover;
    
}
.Login-Logo{
    z-index: 1;
    width: 40vw;
    display: flex;
    margin-top: -90vh;
    margin-left: 12.5vw;
  
}
.Login-Details-Side{
    height: 100vh;
    width: 100%;
 
    font-family: "Poppins";
    display: flex;
    flex-direction: column;
    justify-content: center;
   justify-items: center;
    background-color: white;
    align-items: center;
   
}
.Login-Details{
    padding-left: 20px;
    padding-right: 20px;
}
.welcome{
    font-size: 32px;
    font-weight: 500;
    color: #5E5873;
}
.Password-Confirmation-Description{
    font-size: 16px;
    font-weight: 500;
    color: #6E6B7B;
    padding-top: 16px;
}
.Password-Description{
    color: #F03C56;
    font-size: 14px;
}
.Password{
    font-size: 16px;
    font-weight: 400;
    color: #6E6B7B;
    
}
::placeholder{
    font-size: 16px;
    font-weight: 400;
    color: #B9B9C3;
}
input{
    width: 380px;
    height: 44px;
    font-size: 16px;
    font-weight: 400;
    color: black;
    padding-left: 10px;
    border-radius: 5px;
    border-color: #D8D6DE;
    padding-top: 8px;
    border-style: solid;
}
.Login-Button{
    background-color: #1C86E7;
    width: 380px;
    height: 38px;
    font-size: 16px;
    font-size: 500;
    color: white;
    border-style: solid;
    border-color: #1C86E7;
    border-radius: 5px;
}
.Register-Description{
    font-size: 14px;
    font-weight: 400;
    color: #6E6B7B;
}
.Back-button{
    font-size: 16px;
    font-weight: 500;
    background-color: white;
    border-color: #1C86E7;
    color: #1C86E7;
    border-radius: 5px;
    border-style: solid;
    width: 380px;
    height: 42px;
}
.Login-Remember{
    font-size: 14px;
    font-weight: 400;
    color: #6E6B7B;
  
}
.Inputs-and-Lables{
    padding-top: 16px;
}

@media (max-width:550px){
    .Login-image-side{
        display: none;
    }

    .Login-Details-Side{
        height: 100vh;
        width: 100%;
        align-items: center;
        font-family: "Poppins";
        display: flex;
        flex-direction: column;
        justify-content: center;
       align-items: center;
       align-content: center;
       justify-items: center;
        background-color: white;
       
    }

    input{
        width: 100%;
        height: 44px;
        font-size: 16px;
        font-weight: 400;
        color: #B9B9C3;
        padding-left: 10px;
        border-radius: 5px;
        border-color: #D8D6DE;
        padding-top: 8px;
        border-style: solid;
    }
    .Login-Button{
        background-color: #1C86E7;
        width: 100%;
        height: 38px;
        font-size: 16px;
        font-size: 500;
        color: white;
        border-style: solid;
        border-color: #1C86E7;
        border-radius: 5px;
    }
    .Back-button{
        font-size: 16px;
        font-weight: 500;
        background-color: white;
        border-color: #1C86E7;
        color: #1C86E7;
        border-radius: 5px;
        border-style: solid;
        width: 100%;
        height: 42px;
    }
}