
.procurement-form-container{
    background-color: white;
    border-radius: 6px;
    padding: 26px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 15px;
}

.form-item {
    flex: 1;
}

.form-item label {
    display: block;
    margin-bottom: 5px;
}


.cancel-button{
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    background-color: #dbdadea9; 
    padding: 5px 30px;
    height: 38px;
    border-radius: 6px;
    margin: 16px 0;
    font-family: 'Poppins';
    border: none;
    margin-left: 40px;
}

.form-item{
    padding: 15px;
}