
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 600px;
    position: relative;    
  }
  .popup-content h2{
    justify-content: center;
    color: green;
  }
  
  .buttons {
    display: flex;
    justify-content:center;
    gap: 10px;
  }

  .btnyes{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
  }
  btnyes:hover{
    background-color: #0056b3;
  }

  .btnno{

    background-color: #A8AAAE;
    border:#007bff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 10px;
  }
  .btnno:hover{
    background-color: #ddd;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }

  .resonmsg{
    width: 560px;
    height: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;

  }
  