/* Navbar.css */
.navbar {
  width: calc(100% - 310px);
  position: fixed;
  top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  left: 278px; 
  background-color: #fff;
  height: 60px;
  padding: 0 20px;
  display: flex;
  border-radius: 10px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 10px;
}

.user-name {
  font-weight: bold;
  margin-bottom: 2px;
}

.user-role {
  color: gray;
  font-size: 0.9em;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #4caf50;
  box-shadow: 0 0 0 2px white;
}
