/* RequestForm.css */
body {
  background-color: rgb(242, 242, 242);
  font-family: 'Montserrat', sans-serif;

}
.h5Color{
  color: rgb(66, 66, 66);
}
.create-request-page {
  max-width: 100%;
  margin: 0 auto;
  border-radius: 8px;
  padding-bottom: 50px;
}

.space {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.create-request-page h5 {
  text-align: left;
  margin-bottom: 20px;
}

.request-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-control {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  height: 40px;
  box-sizing: border-box;
  width: 100%;
}

.search-btn,
.save-request-btn,
.back-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: -10px;
}
.form-actions {
  display: flex;         
  justify-content: flex-end; 
  gap: 10px;               
}
.search-btn {
  background-color: #007bff;
  color: #fff;
}

.save-request-btn {
  background-color: #007bff;
  color: #fff;
  border: none;            /* Optional: remove default button border */
  padding: 10px 20px;      /* Optional: adjust padding */
  border-radius: 5px;      /* Optional: add border radius */
}

.back-btn {
  background-color: #d3d3d3;
  color: #fff;
}

.note {
  color: red;
  font-size: 12px;
}

/* Media Queries */
@media (max-width: 768px) {
  .create-request-page {
    padding: 10px;
  }

  .request-form {
    gap: 10px;
  }

  .form-control {
    padding: 6px;
    font-size: 12px;
    height: 35px;
  }

  .search-btn,
  .save-request-btn,
  .back-btn {
    padding: 8px 16px;
  }
}

/* Category Items */
.category-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: hwb(0 27% 73%);
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-group label {
  font-weight: bold;
}

.form-control {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  height: 40px;
  box-sizing: border-box;
  width: 100%;
}

.search-btn {
  align-self: flex-end;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
}

/* Radio Group */
.radio-group {
  display: flex;
  align-items: center;
  gap: 15px;
}

.radio-group input[type="radio"] {
  display: none;
}
.headerColor{
  color: #007bff;
}

.radio-group label {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5px 25px;
  border-radius: 4px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  width: 100px;
  justify-content: center; /* Center the text inside the label */
}

.radio-group input[type="radio"]:checked + label {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.radio-group label:hover {
  background-color: #e0e0e0;
}

/* .btnRequest{
  align-items: center;
} */