.return-form {
  margin: 0 auto; 
  width: 100%;
  max-width: auto;
  background-color: #fff;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px;
  /* background-color: #cf0000; */
}

.return-form h2,
.return-form h4 {
  color: #4B465C;
  font-weight: 600;
}

.return-form h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.return-form h4 {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 350;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #eae9e9;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.form-group input:focus {
  border-color: #ececec;
  outline: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.send-button {
  width: 10%;
  padding: 10px 20px; 
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 14px; 
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.send-button:hover {
  background-color: #0056b3;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-md-6 {
  padding: 0 15px;
  box-sizing: border-box;
}
