.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #ffffff;
  position: fixed;
  top: 10px;
  left: 0;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
.sidebar .menuItem {
  padding: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #000000;
  width: 90%;
  margin-left: 4%;
}
.sidebar .logo {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar .menu {
  display: flex;
  flex-direction: column;
}

.menuItem {
  width: 100px;
  margin-left: 4%;
  padding: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #000000;
  transition: background-color 0.3s, color 0.3s; 
  border-radius: 5px;
}

.menuItem:hover {
  background-color: #1C86E7;
  color: #ffffff; 
}

.menuItem .icon {
  margin-right: 10px;
}

.menuItem span {
  margin-left: 10px; 
}

.submenu {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease, max-height 0.3s ease;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.submenu.open {
  opacity: 1;
  max-height: 200px;
}

.submenu span {
  margin: px 0;
  cursor: pointer;
  padding: 8px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.submenu span:hover {
  background-color: #339bfc;
  color: #ffffff;
}
