/* Sidebar.css */
.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #ffffff;
  position: fixed;
  top: 10px;
  left: 0;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1); /* Add shadow to the sidebar */
  display: flex;
  flex-direction: column;
}

.sidebar .logo {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar .menu {
  display: flex;
  flex-direction: column;
}

.sidebar .menuItem {
  padding: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #000000;
}

.sidebar .submenu {
  display: none;
  flex-direction: column;
  padding-left: 30px;
}

.sidebar .submenu.open {
  display: flex;
}

.sidebar .menuItem .icon {
  margin-right: 10px;
}
